.article {
    .breadcrumbs {
        padding: 2rem;
    }
}
.breadcrumbs {
    font-size: var(--p3);
    padding: 2rem 0;
    list-style: none;
    display: flex;
    margin: 0;
    & li {
        margin: 0;
    }
}