@use '../abstracts/inputs' as inputs;
@use '../abstracts/colors.scss' as colors;

// Prevent page scrolling when any dialog is open
// Potential fix for the jump is add this to the html {}:
// scrollbar-gutter: stable; // If there is a scrollbar, show it. If not, leave a blank gap where it would be
// However, if a page is short (like subscribe LP) then it will have an empty gutter on the right side where the scrollbar would be if the content were long enough...
// I've chosen to not worry about it for now. However, it might be good to put it back into the base.scss html selector since /subscribe is the only "short" page on the site...

:has(dialog[open]) {
    overflow: hidden;
}

/* The modal itself */
#search-modal {
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.8);
    margin: 1rem auto;
    max-height: 90vh;
    overflow: hidden;
    &[open] {
        display: flex;
        flex-direction: column;
    }
}

/* The dimmed background */
#search-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#search-input {
    width: 100%;
    padding: inputs.$input-padding;
    font-size: 1rem;
    border-radius: inputs.$input-border-radius;
    &::placeholder {
        color: rgba(var(--white), inputs.$input-placeholder-opacity);
    }
}

// Nav Button overrides
#header #open-search.btn {
    background: none;
    border: 0;
    height: auto;
    padding: .5rem 1rem;
    & svg {
        width: 15px;
    }
}

#docfind-results {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto; // Allow scrolling on results only. Depends on the display flex of #search-modal[open]
    overscroll-behavior: contain;
    gap: 2rem;
    margin-top: 2rem;
    h3 {
        margin-bottom: 1em;
    }
}