{% extends 'base.html' %}

{% block body_classes %}article{% endblock %}

{% block content %}
{% include 'partials/navigation/breadcrumbs.html' %}

<article class="article" itemscope itemtype="https://schema.org/Article">
    <meta itemprop="name" content="{{ content.headline }}">
    {% if content.description %}
    <meta itemprop="description" content="{{ content.description }}">
    {% endif %}
    <meta itemprop="datePublished" content="{{ content.schema_publish_date }}">
    <div itemprop="author" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="name" content="Jess Brown">
    </div>


    <div class="grid-article">
        <header>

            <div itemprop="isPartOf" itemscope itemtype="https://schema.org/PublicationIssue" itemid="#issue">
                <div itemscope itemtype="https://schema.org/Periodical" itemid="#periodical">
                    <meta itemprop="name" content="CYBORG_ Newsletter">
                    <meta itemprop="id" href="https://cyborgnewsletter.com/#periodical">
                </div>
                <div itemprop="copyrightHolder" itemscope itemtype="https://schema.org/Organization">
                    <meta itemprop="name" content="Not Defined LLC">
                </div>
                <div itemprop="isPartOf" itemscope itemtype="https://schema.org/PublicationVolume">
                    <link itemprop="isPartOf" href="https://cyborgnewsletter.com/#periodical" />
                    <meta itemprop="volumeNumber" content="{{ content.pk }}">
                </div>
            </div>
            
            <h1 itemprop="headline">{{content.title}}</h1>
        </header>
        
        <div id="article-body" class="article-content" itemprop="articleBody">
            {{ content.body|safe }}
        </div>

        <div class="rail">
            <aside id="article-outline">
                <h2>Outline</h2>
                <nav aria-label="Outline">
                    <ul id="article-outline-content"></ul>
                </nav>
                <script>
                const outline = document.getElementById('article-outline-content');
                const content = document.querySelector('.article-content');
                
                function generateOutline(contentElement) {
                const headings = contentElement.querySelectorAll('h1, h2, h3, h4, h5, h6');
                if(headings.length > 0){
                        headings.forEach(heading => {
                            const outlineItem = document.createElement('li');
                            const anchor = document.createElement('a');
                            anchor.href = '#' + heading.id; // If headings have IDs
                            anchor.textContent = heading.textContent;
                            outlineItem.appendChild(anchor);
                            outlineItem.classList.add(heading.tagName.toLowerCase()); 
            
                            anchor.addEventListener('click', (event) => {
                                event.preventDefault();
                                heading.scrollIntoView({ behavior: 'smooth' });
                            });
            
                            outline.appendChild(outlineItem);
                        });
                    }
                    else {
                        const article = document.getElementById("blog-article");
                        const sidebar = document.getElementById("outline-sidebar");
                        article.classList.remove("justify-content-between");
                        article.classList.add("justify-content-center");
                        sidebar.classList.add("d-none");
                    }
                }
                generateOutline(content);
                </script>
            </aside>

            {% if content.recommended_links.first %}
            {# <!-- TODO: https://gemini.google.com/app/0f90f3c7d176a1d3 Set up a recommendation engine for my admin, then can create a glossary links list --> #}
            <aside id="glossary">
                <h2>Glossary</h2>
                <nav aria-label="Outline">
                    <ul id="article-glossary-content">
                    {% for link in content.recommended_links.all %}
                        {% if link.term.approved %}
                        {# <!-- Warning since doesn't work within Article type... itemprop="relatedLink" --> #}
                        <li><a href="{{ link.term.get_absolute_url }}">{{ link.term.title }}&nbsp;&rsaquo;</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>
            </aside>
            {% endif %}
        </div>
    </div>
</article>

<div class="linked-articles">
    {% for article in newsletter_previews %}
    <div id="{{ article.slug }}" class="link-preview" popover>
        <a href="{{ article.url }}">
            <div class="card">
                <div class="card-body">
                    <h2>{{ article.title }}</h2>
                    <div>{{ article.description }}</div>
                    <div class="date"><small>{{ article.publish_date|date:"F j, Y" }}</small></div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="linked-terms">
    {% for term in glossary_terms_previews %}
    <div id="glossary-{{ term.slug }}" class="link-preview" popover>
        <a href="{{ term.url }}">
            <div class="card">
                <div class="card-body">
                    <div class="chips"><div class="chip">Glossary</div></div>
                    <h2>{{ term.title }}</h2>
                    <div>{{ term.description }}</div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% comment %}
{% endcomment %}

{% endblock %}

{% block extra_scripts %}
<script defer>
document.addEventListener('DOMContentLoaded', () => {
    const article = document.getElementById("article-body");
    const newsletterLinks = article.querySelectorAll('a[href^="/newsletters/"]');

    newsletterLinks.forEach(link => {
        link.classList.add("link-with-preview");
        // Get slug
        const url = link.getAttribute('href');
        const slugMatch = url.match(/\/newsletters\/([^/]+)\/$/);
        if (slugMatch && slugMatch[1]) {
            link.setAttribute('data-popover-target', slugMatch[1])
        }
    });
    
    // Must search within article body only, since there are glossaryLinks in the aside, now.
    const glossaryLinks = article.querySelectorAll('a[href^="/glossary/"]');

    glossaryLinks.forEach(link => {
        link.classList.add("link-with-preview");
        const termUrl = link.getAttribute('href');
        const termSlugMatch = termUrl.match(/\/(glossary)\/([^/]+)\/$/);
        if (termSlugMatch && termSlugMatch[1]) {
            link.setAttribute('data-popover-target', (termSlugMatch[1] + '-' + termSlugMatch[2]))
        }
    });



  const links = document.querySelectorAll('.link-with-preview');

  links.forEach(link => {
    const popoverId = link.getAttribute('data-popover-target');
    const popover = document.getElementById(popoverId);
    const popoverAnchor = '--' + popoverId;

    // Have to override the anchor-name/position-anchor so that each link uniquely positions the preview (otherwise it all goes to the last one)
    link.style.anchorName = popoverAnchor;
    popover.style.positionAnchor = popoverAnchor;

    if (popover) {
      link.addEventListener('mouseenter', () => {
        popover.showPopover();
      });

      link.addEventListener('mouseleave', () => {
        popover.hidePopover();
      });
    }
  });
});
</script>

{% endblock %}