*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/static/admin
/static/admin*
/static/js
/static/css
/static/wag*
.DS_Store
gulpfile.js
package.json
package-lock.json
/node_modules
*.pem
.idea/
venv
PROCESS.md
media/images/gallery/test_*.*