@use '../abstracts/colors.scss';

:root {
    --card-opacity: 1;
}

a:has( .card ) {
    text-decoration: none;
    color: inherit;
}
.card {
    --_card-gap: 2rem;

    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    border-radius: var(--border-radius-primary);
    gap: var(--_card-gap);
    padding: var(--_card-gap);
    opacity: var(--card-opacity);
    transition: all .15s ease-in;

    h2, .h2 {
        font-size: var(--article-h3-font-size);
        margin-top: var(--article-space-sm);
        margin-bottom: var(--article-space-md);
    }
    h3, .h3 {
        font-size: var(--article-h4-font-size);
        margin-top: var(--article-space-sm);
        margin-bottom: var(--article-space-md);
    }

    .card-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-body {
        text-wrap: pretty;
    }
}


.card.card-newsletter {
    --_card-gap: 1rem;
    border: 8px solid var(--white);
    position: relative;
    
    &::after {
        content: '\2794';
        transition: all .15s ease-in;
        position: absolute;
        bottom: .45rem;
        right: 1.5rem;
        font-size: 2rem;
        vertical-align: baseline;
        color: colors.$orange;
        opacity: 0;
    }
    &:hover, &:hover::after {
        transition: all .15s ease-in;
        opacity: 1;
    }
    .card-header {
        justify-content: flex-start;
    }
    .card-body {
        display: flex;
        justify-content: center;
    }
    .card-footer {
        display: flex;
        margin-right: 2rem;
    }
    .poster {
        font-size: 4rem;
    }
    .newsletter-id {
        text-align: left;
    }
}

.link-preview {
    max-width: clamp(250px, 25vw, 500px);
    border: 0;
    transition: all .15s;
    background: none;
    & .card {
        background-color: var(--black);
        & h2 {
            font-size: var(--article-h4-font-size);
            margin: 0;
        }
    }
}

.link-with-preview {
    anchor-name: --preview-link;
}
[popover] {
    position: absolute;
    position-anchor: --preview-link;
    // inset: unset;
    position-try-fallbacks: --top-to-bottom;
    top: calc(anchor(top) + 2rem);
    left: anchor(center);
    translate: -50%;
    margin-bottom: 1rem;
    max-width: clamp(250px, 35vw, 500px);
    // max-width: 250px;
}

@position-fallback --top-to-bottom {
    @try {
        bottom: anchor(top);
        left: anchor(center);
    }
    @try {
        top: anchor(bottom);
        left: anchor(center);
    }
}