{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if content.title %}{{content.title}} | {% endif %}CYBORG_ Newsletter</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <!-- /FONTS -->

    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Upgrade your humanity.">
    <meta name="twitter:description" content="An exploration of technology and systems and how they interact, dominate, or support our humanity.">
    <meta name="twitter:site" content="@NotDefinedTech">
    <meta name="twitter:image" content="https://cyborgnewsletter.com/static/social/cyborg-subscribe-gen.jpg">
    <meta name="twitter:creator" content="@NotDefinedTech">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Upgrade your humanity.">
    <meta property="og:description" content="An exploration of technology and systems and how they interact, dominate, or support our humanity.">
    <meta property="og:url" content="https://cyborgnewsletter.com/">
    <meta property="og:site_name" content="CYBORG_ Newsletter">
    <meta property="og:image" content="https://cyborgnewsletter.com/static/social/cyborg-subscribe-gen.jpg">
    <meta property="og:image:secure_url" content="https://cyborgnewsletter.com/static/social/cyborg-subscribe-gen.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JGP9HHYEJ7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JGP9HHYEJ7');
    </script>

    {% block nav_header %}
        {% include 'partials/navigation/nav-header.html' %}
    {% endblock %}
    
    <main id="main">
        {% block content %}
        {% endblock %}
    </main>
    
    {% block footer %}
    <footer>
        &copy; {% now "Y" %} Not Defined LLC. All rights reserved.
    </footer>
    {% endblock %}
</body>
</html>