<svg width="298" height="100" viewBox="0 0 298 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="50" cy="50" r="49.5" stroke="#E3E4D3" stroke-opacity="0.1"/>
    <circle cx="118" cy="50" r="49.5" stroke="#E3E4D3" stroke-opacity="0.2"/>
    <circle opacity="0.3" cx="166" cy="50" r="49.5" stroke="#E3E4D3"/>
    <circle opacity="0.4" cx="201" cy="50" r="49.5" stroke="#E3E4D3"/>
    <circle opacity="0.5" cx="224" cy="50" r="49.5" stroke="#E3E4D3"/>
    <circle opacity="0.6" cx="235" cy="50" r="49.5" stroke="#E3E4D3"/>
    <circle opacity="0.7" cx="242" cy="50" r="49.5" stroke="#E3E4D3"/>
    <circle opacity="0.8" cx="246" cy="50" r="49.5" stroke="#E3E4D3"/>
    <circle cx="248" cy="50" r="49.5" stroke="#E3E4D3"/>
</svg>