<nav id="header">
    <a href="/">
        <div class="brand">
            <img src="/static/images/brand/logo-light.svg" alt="CYBORG" style="width: 120px;">
        </div>
    </a>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-button">
        <span></span>
    </label>
    <div class="menu">
        <div class="navigation">
            <ul>
                <li>
                    <a href="{% url 'newsletterList' %}" class="">Newsletters</a>
                </li>
                <li>
                    <a href="{% url 'topicList' %}">Topics</a>
                </li>
            </ul>
        </div>
        <div class="action">
            <ul>
                <li>
                    <button id="open-search" class="btn" title="Open Search">
                        <svg viewBox="0 0 101 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M59.5 0C82.4198 0 101 18.5802 101 41.5C101 64.4198 82.4198 83 59.5 83C51.489 83 44.0096 80.7276 37.667 76.7959L10.751 104.461L0 94L26.543 66.7188C21.1861 59.7286 18 50.9871 18 41.5C18 18.5802 36.5802 0 59.5 0ZM59.5 15C44.8645 15 33 26.8645 33 41.5C33 56.1355 44.8645 68 59.5 68C74.1355 68 86 56.1355 86 41.5C86 26.8645 74.1355 15 59.5 15Z" fill="currentColor"/>
                        </svg>
                    </button>
                </li>
                <li>
                    <a href="/subscribe/" class="btn btn-primary">Subscribe <span class="cta-arrow"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>