<nav id="header">
    <a href="/">
        <div class="brand">
            <img src="/static/images/brand/logo-light.svg" alt="CYBORG" style="width: 120px;">
        </div>
    </a>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-button">
        <span></span>
    </label>
    <div class="menu">
        <div class="navigation">
            <ul>
                <li>
                    <a href="{% url 'newsletterList' %}" class="">Newsletters</a>
                </li>
                <li>
                    <a href="{% url 'topicList' %}">Topics</a>
                </li>
            </ul>
        </div>
        <div class="action">
            <ul>
                <li>
                    <a href="/subscribe/" class="btn btn-primary">Subscribe <span class="cta-arrow"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>