{% extends 'base.html' %}

{% block body_classes %}topic{% endblock %}

{% block content %}
<article class="article">
    <div class="breadcrumbs"><a href="/">Home</a> / <a href="{% url 'topicList' %}">Topics</a> / {{ content.title }}</div>

    <div class="mini-essay">
        <h1>{{content.title}}</h1>
        
        <div class="article-content">
            {{ content.body|safe }}
        </div>

    </div>
</article>

<section class="topics">
    <ul class="topics-list grid-topics">
        {% for article in object_list %}
        <a href="{{ article.get_absolute_url }}">
            <li class="card card-list-item">
                <div class="card-body">
                    <div class="title">
                        <h2>{{ article.title }}</h2>
                    </div>
                    <div class="description">
                        {{ article.description }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="date">
                        {{ article.publish_date|date:"M j, Y" }}
                    </div>
                    <div class="read-time">
                        {{ article.read_time }}
                    </div>
                </div>
            </li>
        </a>
        {% endfor %}
    </ul>

    {% include 'partials/navigation/pagination.html' %}
</section>


{% endblock %}
